/* push everything to main let master be */
/* For mobile the content below photo */
body{
    background-color: #FF855D;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    background-color: white;
    width: 70%;
    margin: 5vw auto;
    height: auto;
    border-radius: 9px;
    /* padding: 17px 50px; */
}
#center{
    position: relative;
    height: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
.headerTitle{
    display: flex;
}
.fa{
    font-size: 3vw;
    display:none;
}
.hamburgerMenu{
    z-index: 1;
    height: 100%;
    text-align: center;
    width: 0; /*changed on press */
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden; /*disable horixontal scroll*/
    padding-top: 50px;
    transition: 0.5s; /*effects on slide in*/
}
.hamburgerMenu a{
    padding: 8px 8px 8px 32px;
    /* font-size: 15px; change to vw */
    color: #818181;
    display: block;
    transition: 0.1s ease-in-out;
}
.hamburgerMenu a:hover{
    color: #f1f1f1;
}
@media (max-width: 800px){
    .fa{
        float: right;
        display: block;
    }
}
/* TODO not working */
@media (max-width: 800px){
    .workDiv{
        display: none !important;
    }
}

.workDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
/* .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
} */
.container{
    height: 100%;
}
#content1 #table{
    /* this is only for width */
    table-layout: fixed;
    height: 100px;
    width: 100%;
}
#content1 table #td{
    width: 55%;
}
#content1 table tr{
    height: inherit;
}
img{
    border-radius: 3px;
    max-width: 100%;
    object-fit: cover !important;
    width: 100%;
}
#td1{
    vertical-align: top;
    text-align: center;
}
#ansContent #ansContHead{
    font-size: 1.8vw;
    color: grey;
    margin: 0;
}
/* #ansContent p{
    font-size: 2.1vw;
} */
/* #ansContent h1{
    font-size: 3.5vw;
} */
#ansContent{
   
}
.butn{
    margin-left: 0.4vw;
    background-color: #f46827;
    border-style: hidden;
    border-radius: 1.5px;
    padding: 0.2vw 2vw;
    font-size: 1.5vw;
    color: white;
}
.butn:hover{
    background-color: #dd5a33;
    cursor: pointer;
}
/*After touched 
button:focus{
    background-color: red;
} */
#elmokh{
    font-size: 2.5vw;
    font-family: 'Festive', cursive;
}
.headList{
    padding: auto 4px;
    color: grey;
}
.headList:hover{
    cursor: pointer;
    color: black;
}
.ansContent{
    cursor: pointer;
}
.contentImg img{
    max-height: 400px;
}

a{
    text-decoration: none !important;
    font-size: 1.4vw;
    padding: 0 0.4vw;
}

#butn{
  
    padding-right: 0;
}
h1{
    margin-top: 0;
}
.para{
    margin-top: 1rem;
}
@media only screen and (max-width: 768px){
    p{font-size: 0.8rem;}
    h1{
        font-size:calc(1.175rem + 1.5vw);
    }
    h5{
        font-size: calc(0.8rem + 1.5vw);
    }
}
/* @media only screen and (min-width:1200px){
    .contentImg img{
        height: 70vh;
    }
} */

.row2 .contentImg{
    width: 100%;
    display: flex;
    justify-content: center;
}
.row2 .ansContent{
    width: 100%;
}
.espanolImg{
    max-height: 300px !important;
}
.otherImg{
    max-height: 300px !important;

}